<div id='nav-column'>
  <div id='logo'></div>
  <div id='search-nav'{{action 'showSearch'}}></div>
  <h4>Discover</h4>
  <h4>Radio</h4>
  <h4>Playlists</h4>
</div>

<div id='main'>
  {{#if displaySearch}}
    {{partial "search"}}
  {{/if}}

  <div>
    {{outlet}}
  </div>
</div>
